/* Base Styles */
body {
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 960px;
  margin: auto;
  padding: 20px;
}

h1, h2, h4 {
  color: #333;
}

/* Button Styles */
.btn {
  display: inline-block;
  height: 100px; 
  width: 100px; 
  border-radius: 20%; /* Circular buttons */
  margin: 10px;
  color: white;
  font-size: 10px;
  line-height: 100px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease; /* Smooth transition for hover and click */
}

/* Button Colors */
#orange { background-color: #FFA500; }
#red { background-color: #FF4500; }
#blue { background-color: #1E90FF; }
#purple { background-color: #9400D3; }

/* Button Hover and Active States */
.btn:hover, .btn:focus {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  transform: scale(1.1); /* Slightly enlarge button on hover */
}

.btn:active, .btn.touch-active {
  transform: scale(0.9); /* Shrink button on click */
}

@media (hover: none) {
  .btn.touch-active {
    transform: scale(1); /* Reset scale on touch devices */
  }
}

/* Flash Animation */
.flash {
  animation: flashAnimation 1s ease;
}
.wrapper{
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a{
  display: none;
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #333;
  border: 2px solid #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
}

a span{
  position: relative;
  z-index: 2;
}

a:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #ff003b;
  transition: all .35s;
}


a:hover{
  color: #fff;
}

a:hover:after{
  width: 100%;
}


@keyframes flashAnimation {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.5; }
}

/* Responsive Design */
@media (max-width: 768px) {
  .btn {
      height: 80px;
      width: 80px;
      font-size: 18px;
      line-height: 80px;
  }
  .wrapper {
    position: absolute;
    top: 60%;
   
  }
  a{
    display: inline-block;
    width: 80px;
    height: 40px;
  }
}

@media (max-width: 480px) {
  .container {
      padding: 10px;
  }

  .btn {
      height: 60px;
      width: 60px;
      font-size: 16px;
      line-height: 60px;
      margin: 5px;
  }

  h1, h2, h4 {
      font-size: 1em;
  }
}


