body {
  
 font-family: 'Roboto Mono', monospace; 
    text-align: center;
}

.btn {
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 3rem;
    /* transition: background-color 0.5s; Add transition effect */
}

.btn-container {
    display: flex;
    justify-content: center;
}
.results {
    display: flex;
    justify-content: center;
   
}
#orange {
    background-color: #FFA500;
}

#red {
    background-color: #FF0000;
}

#blue {
    background-color: #0000FF;
}

#purple {
    background-color: #e100ff;
}

.flash {
    background-color: white !important;
}

.userflash {
    background-color: green !important;
}
.wrongMove{
    background-color: #FF0000;
}

/* Media Queries for iPhone 11 */
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
    .btn-container {
      
        margin-left: 31%;
    }
    .btn {
        margin: 1rem;
    }
}

/* Media Queries for iPhone 12 */
@media only screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) {
    /* Add your styles for iPhone 12 here */
}

/* Media Queries for iPhone 14 Pro */
@media only screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) {
    .btn-container {
      
        margin-left: 31%;
    }
    .btn {
        margin: 1rem;
    }
}

/* Media Queries for iPhone 14 Pro Max */
@media only screen and (device-width: 430px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) {
    /* Add your styles for iPhone 14 Pro Max here */
    .btn-container {
      
        margin-left: 31%;
    }
    .btn {
        margin: 2rem;
    }
}
